In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

%matplotlib inline

In [2]:
def dateparse(date) -> str:
    date = date.split("-")
    return "%s-%s" % (date[0], date[1])

In [3]:
data = pd.read_csv(
    "../data/kaggle/users.csv",
    parse_dates=["join_date"],
    date_parser=dateparse
)

In [4]:
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>country</th>
      <th>join_date</th>
      <th>twitter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>Japan</td>
      <td>2011-02-01</td>
      <td>smly</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Moscow</td>
      <td>Russian Federation</td>
      <td>2014-12-01</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2014-08-01</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>San Francisco</td>
      <td>United States</td>
      <td>2012-10-01</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>Israel</td>
      <td>2012-11-01</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
data.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>country</th>
      <th>join_date</th>
      <th>twitter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1764</td>
      <td>2693</td>
      <td>3601</td>
      <td>424</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>551</td>
      <td>85</td>
      <td>89</td>
      <td>423</td>
    </tr>
    <tr>
      <th>top</th>
      <td>Moscow</td>
      <td>United States</td>
      <td>2012-03-01 00:00:00</td>
      <td>test</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>127</td>
      <td>852</td>
      <td>86</td>
      <td>2</td>
    </tr>
    <tr>
      <th>first</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2010-02-01 00:00:00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>last</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2017-06-01 00:00:00</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
sort_countries = data.groupby("country").size().to_frame("Total").sort_values("Total", ascending=False)

In [7]:
print(sort_countries.to_string())

                      Total
country
United States           852
Russian Federation      223
China                   149
India                   145
France                  125
United Kingdom          117
Germany                 106
Canada                   78
Australia                76
Japan                    74
Netherlands              59
Singapore                55
Spain                    52
Poland                   51
Ukraine                  40
Brazil                   34
Italy                    31
Israel                   28
Belgium                  27
Taiwan                   27
Switzerland              24
Sweden                   20
Finland                  18
Greece                   18
Portugal                 15
Czech Republic           14
Hungary                  13
South Africa             13
Belarus                  12
South Korea              11
Ireland                  10
Turkey                   10
New Zealand              10
Austria                   9
Slovakia                  8
Romania                   8
Estonia                   7
Lithuania                 7
Iran                      6
Philippines               6
Slovenia                  6
Norway                    6
Denmark                   6
Argentina                 6
Vietnam                   5
Armenia                   5
Sri Lanka                 5
Malaysia                  4
Egypt                     4
Colombia                  4
Croatia                   4
Indonesia                 4
Chile                     3
Serbia                    3
Mexico                    3
Thailand                  2
Latvia                    2
Madagascar                2
Morocco                   2
Bulgaria                  2
Venezuela                 2
United Arab Emirates      2
Senegal                   1
Afghanistan               1
Qatar                     1
Lebanon                   1
Algeria                   1
Bangladesh                1
Barbados                  1
Costa Rica                1
Ecuador                   1
El Salvador               1
Kenya                     1
Kyrgyzstan                1
Albania                   1
Panama                    1
Macedonia                 1
Mauritius                 1
Moldova                   1
Mozambique                1
Nepal                     1
Nigeria                   1
North Korea               1
Pakistan                  1
Luxembourg                1

In [8]:
# get data about countries and population
import json

with open('data/kaggle/population.json') as data_file:    
    population = json.load(data_file)
    
population_dict = {}
for x in population:
    population_dict[x["country"]] = x["population"]

In [9]:

sort_countries["country"] = sort_countries.index.get_level_values('country') 
sort_countries.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Total</th>
      <th>country</th>
    </tr>
    <tr>
      <th>country</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>United States</th>
      <td>852</td>
      <td>United States</td>
    </tr>
    <tr>
      <th>Russian Federation</th>
      <td>223</td>
      <td>Russian Federation</td>
    </tr>
    <tr>
      <th>China</th>
      <td>149</td>
      <td>China</td>
    </tr>
    <tr>
      <th>India</th>
      <td>145</td>
      <td>India</td>
    </tr>
    <tr>
      <th>France</th>
      <td>125</td>
      <td>France</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
# population_df = sort_countries.assign(
#     population=lambda x: print(x["country"][0]))
# population_df.head()

sort_countries["population"] = sort_countries["country"].map(population_dict).astype(int)
sort_countries.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Total</th>
      <th>country</th>
      <th>population</th>
    </tr>
    <tr>
      <th>country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>United States</th>
      <td>852</td>
      <td>United States</td>
      <td>278357000</td>
    </tr>
    <tr>
      <th>Russian Federation</th>
      <td>223</td>
      <td>Russian Federation</td>
      <td>146934000</td>
    </tr>
    <tr>
      <th>China</th>
      <td>149</td>
      <td>China</td>
      <td>1277558000</td>
    </tr>
    <tr>
      <th>India</th>
      <td>145</td>
      <td>India</td>
      <td>1013662000</td>
    </tr>
    <tr>
      <th>France</th>
      <td>125</td>
      <td>France</td>
      <td>59225700</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
countries_population = sort_countries.assign(
     per_capita=lambda x: round(x["Total"] / x["population"] * 10000000, 2))
countries_population

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Total</th>
      <th>country</th>
      <th>population</th>
      <th>per_capita</th>
    </tr>
    <tr>
      <th>country</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>United States</th>
      <td>852</td>
      <td>United States</td>
      <td>278357000</td>
      <td>30.61</td>
    </tr>
    <tr>
      <th>Russian Federation</th>
      <td>223</td>
      <td>Russian Federation</td>
      <td>146934000</td>
      <td>15.18</td>
    </tr>
    <tr>
      <th>China</th>
      <td>149</td>
      <td>China</td>
      <td>1277558000</td>
      <td>1.17</td>
    </tr>
    <tr>
      <th>India</th>
      <td>145</td>
      <td>India</td>
      <td>1013662000</td>
      <td>1.43</td>
    </tr>
    <tr>
      <th>France</th>
      <td>125</td>
      <td>France</td>
      <td>59225700</td>
      <td>21.11</td>
    </tr>
    <tr>
      <th>United Kingdom</th>
      <td>117</td>
      <td>United Kingdom</td>
      <td>59623400</td>
      <td>19.62</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>106</td>
      <td>Germany</td>
      <td>82164700</td>
      <td>12.90</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>78</td>
      <td>Canada</td>
      <td>31147000</td>
      <td>25.04</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>76</td>
      <td>Australia</td>
      <td>23840314</td>
      <td>31.88</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>74</td>
      <td>Japan</td>
      <td>126714000</td>
      <td>5.84</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>59</td>
      <td>Netherlands</td>
      <td>15864000</td>
      <td>37.19</td>
    </tr>
    <tr>
      <th>Singapore</th>
      <td>55</td>
      <td>Singapore</td>
      <td>3567000</td>
      <td>154.19</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>52</td>
      <td>Spain</td>
      <td>39441700</td>
      <td>13.18</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>51</td>
      <td>Poland</td>
      <td>38653600</td>
      <td>13.19</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>40</td>
      <td>Ukraine</td>
      <td>50456000</td>
      <td>7.93</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>34</td>
      <td>Brazil</td>
      <td>170115000</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>31</td>
      <td>Italy</td>
      <td>57680000</td>
      <td>5.37</td>
    </tr>
    <tr>
      <th>Israel</th>
      <td>28</td>
      <td>Israel</td>
      <td>6217000</td>
      <td>45.04</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>27</td>
      <td>Belgium</td>
      <td>10239000</td>
      <td>26.37</td>
    </tr>
    <tr>
      <th>Taiwan</th>
      <td>27</td>
      <td>Taiwan</td>
      <td>22256000</td>
      <td>12.13</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>24</td>
      <td>Switzerland</td>
      <td>7160400</td>
      <td>33.52</td>
    </tr>
    <tr>
      <th>Sweden</th>
      <td>20</td>
      <td>Sweden</td>
      <td>8861400</td>
      <td>22.57</td>
    </tr>
    <tr>
      <th>Finland</th>
      <td>18</td>
      <td>Finland</td>
      <td>5171300</td>
      <td>34.81</td>
    </tr>
    <tr>
      <th>Greece</th>
      <td>18</td>
      <td>Greece</td>
      <td>10545700</td>
      <td>17.07</td>
    </tr>
    <tr>
      <th>Portugal</th>
      <td>15</td>
      <td>Portugal</td>
      <td>9997600</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th>Czech Republic</th>
      <td>14</td>
      <td>Czech Republic</td>
      <td>10278100</td>
      <td>13.62</td>
    </tr>
    <tr>
      <th>Hungary</th>
      <td>13</td>
      <td>Hungary</td>
      <td>10043200</td>
      <td>12.94</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>13</td>
      <td>South Africa</td>
      <td>40377000</td>
      <td>3.22</td>
    </tr>
    <tr>
      <th>Belarus</th>
      <td>12</td>
      <td>Belarus</td>
      <td>10236000</td>
      <td>11.72</td>
    </tr>
    <tr>
      <th>South Korea</th>
      <td>11</td>
      <td>South Korea</td>
      <td>46844000</td>
      <td>2.35</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>Thailand</th>
      <td>2</td>
      <td>Thailand</td>
      <td>61399000</td>
      <td>0.33</td>
    </tr>
    <tr>
      <th>Latvia</th>
      <td>2</td>
      <td>Latvia</td>
      <td>2424200</td>
      <td>8.25</td>
    </tr>
    <tr>
      <th>Madagascar</th>
      <td>2</td>
      <td>Madagascar</td>
      <td>15942000</td>
      <td>1.25</td>
    </tr>
    <tr>
      <th>Morocco</th>
      <td>2</td>
      <td>Morocco</td>
      <td>28351000</td>
      <td>0.71</td>
    </tr>
    <tr>
      <th>Bulgaria</th>
      <td>2</td>
      <td>Bulgaria</td>
      <td>8190900</td>
      <td>2.44</td>
    </tr>
    <tr>
      <th>Venezuela</th>
      <td>2</td>
      <td>Venezuela</td>
      <td>24170000</td>
      <td>0.83</td>
    </tr>
    <tr>
      <th>United Arab Emirates</th>
      <td>2</td>
      <td>United Arab Emirates</td>
      <td>2441000</td>
      <td>8.19</td>
    </tr>
    <tr>
      <th>Senegal</th>
      <td>1</td>
      <td>Senegal</td>
      <td>9481000</td>
      <td>1.05</td>
    </tr>
    <tr>
      <th>Afghanistan</th>
      <td>1</td>
      <td>Afghanistan</td>
      <td>22720000</td>
      <td>0.44</td>
    </tr>
    <tr>
      <th>Qatar</th>
      <td>1</td>
      <td>Qatar</td>
      <td>599000</td>
      <td>16.69</td>
    </tr>
    <tr>
      <th>Lebanon</th>
      <td>1</td>
      <td>Lebanon</td>
      <td>3282000</td>
      <td>3.05</td>
    </tr>
    <tr>
      <th>Algeria</th>
      <td>1</td>
      <td>Algeria</td>
      <td>31471000</td>
      <td>0.32</td>
    </tr>
    <tr>
      <th>Bangladesh</th>
      <td>1</td>
      <td>Bangladesh</td>
      <td>129155000</td>
      <td>0.08</td>
    </tr>
    <tr>
      <th>Barbados</th>
      <td>1</td>
      <td>Barbados</td>
      <td>270000</td>
      <td>37.04</td>
    </tr>
    <tr>
      <th>Costa Rica</th>
      <td>1</td>
      <td>Costa Rica</td>
      <td>4023000</td>
      <td>2.49</td>
    </tr>
    <tr>
      <th>Ecuador</th>
      <td>1</td>
      <td>Ecuador</td>
      <td>12646000</td>
      <td>0.79</td>
    </tr>
    <tr>
      <th>El Salvador</th>
      <td>1</td>
      <td>El Salvador</td>
      <td>6276000</td>
      <td>1.59</td>
    </tr>
    <tr>
      <th>Kenya</th>
      <td>1</td>
      <td>Kenya</td>
      <td>30080000</td>
      <td>0.33</td>
    </tr>
    <tr>
      <th>Kyrgyzstan</th>
      <td>1</td>
      <td>Kyrgyzstan</td>
      <td>4699000</td>
      <td>2.13</td>
    </tr>
    <tr>
      <th>Albania</th>
      <td>1</td>
      <td>Albania</td>
      <td>3401200</td>
      <td>2.94</td>
    </tr>
    <tr>
      <th>Panama</th>
      <td>1</td>
      <td>Panama</td>
      <td>2856000</td>
      <td>3.50</td>
    </tr>
    <tr>
      <th>Macedonia</th>
      <td>1</td>
      <td>Macedonia</td>
      <td>2024000</td>
      <td>4.94</td>
    </tr>
    <tr>
      <th>Mauritius</th>
      <td>1</td>
      <td>Mauritius</td>
      <td>1158000</td>
      <td>8.64</td>
    </tr>
    <tr>
      <th>Moldova</th>
      <td>1</td>
      <td>Moldova</td>
      <td>4380000</td>
      <td>2.28</td>
    </tr>
    <tr>
      <th>Mozambique</th>
      <td>1</td>
      <td>Mozambique</td>
      <td>19680000</td>
      <td>0.51</td>
    </tr>
    <tr>
      <th>Nepal</th>
      <td>1</td>
      <td>Nepal</td>
      <td>23930000</td>
      <td>0.42</td>
    </tr>
    <tr>
      <th>Nigeria</th>
      <td>1</td>
      <td>Nigeria</td>
      <td>111506000</td>
      <td>0.09</td>
    </tr>
    <tr>
      <th>North Korea</th>
      <td>1</td>
      <td>North Korea</td>
      <td>24039000</td>
      <td>0.42</td>
    </tr>
    <tr>
      <th>Pakistan</th>
      <td>1</td>
      <td>Pakistan</td>
      <td>156483000</td>
      <td>0.06</td>
    </tr>
    <tr>
      <th>Luxembourg</th>
      <td>1</td>
      <td>Luxembourg</td>
      <td>435700</td>
      <td>22.95</td>
    </tr>
  </tbody>
</table>
<p>85 rows × 4 columns</p>
</div>

In [12]:
with open('data/kaggle/users_created.json', 'w') as f:
    f.write(countries_population.to_json(orient='records'))

In [61]:

def get_3_code_country(country):
    if (country == "South Korea"): 
        return "KOR"
    elif (country == "North Korea"):
        return "PRK"
    else:
        url = 'https://restcountries.eu/rest/v2/name/' + quote(country, safe='')
        r = requests.get(url)
        response = r.json()
        try:
            return response[0]['alpha3Code']
        except KeyError:
            return None

In [63]:
import requests
from urllib.parse import quote

data_javascript_map = countries_population.copy()
countries_population['iso_3'] = countries_population.country.apply(get_3_code_country)

countries_population

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Total</th>
      <th>country</th>
      <th>population</th>
      <th>per_capita</th>
      <th>iso_3</th>
    </tr>
    <tr>
      <th>country</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>United States</th>
      <td>852</td>
      <td>United States</td>
      <td>278357000</td>
      <td>30.61</td>
      <td>UMI</td>
    </tr>
    <tr>
      <th>Russian Federation</th>
      <td>223</td>
      <td>Russian Federation</td>
      <td>146934000</td>
      <td>15.18</td>
      <td>RUS</td>
    </tr>
    <tr>
      <th>China</th>
      <td>149</td>
      <td>China</td>
      <td>1277558000</td>
      <td>1.17</td>
      <td>CHN</td>
    </tr>
    <tr>
      <th>India</th>
      <td>145</td>
      <td>India</td>
      <td>1013662000</td>
      <td>1.43</td>
      <td>IOT</td>
    </tr>
    <tr>
      <th>France</th>
      <td>125</td>
      <td>France</td>
      <td>59225700</td>
      <td>21.11</td>
      <td>FRA</td>
    </tr>
    <tr>
      <th>United Kingdom</th>
      <td>117</td>
      <td>United Kingdom</td>
      <td>59623400</td>
      <td>19.62</td>
      <td>GBR</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>106</td>
      <td>Germany</td>
      <td>82164700</td>
      <td>12.90</td>
      <td>DEU</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>78</td>
      <td>Canada</td>
      <td>31147000</td>
      <td>25.04</td>
      <td>CAN</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>76</td>
      <td>Australia</td>
      <td>23840314</td>
      <td>31.88</td>
      <td>AUS</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>74</td>
      <td>Japan</td>
      <td>126714000</td>
      <td>5.84</td>
      <td>JPN</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>59</td>
      <td>Netherlands</td>
      <td>15864000</td>
      <td>37.19</td>
      <td>NLD</td>
    </tr>
    <tr>
      <th>Singapore</th>
      <td>55</td>
      <td>Singapore</td>
      <td>3567000</td>
      <td>154.19</td>
      <td>SGP</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>52</td>
      <td>Spain</td>
      <td>39441700</td>
      <td>13.18</td>
      <td>ESP</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>51</td>
      <td>Poland</td>
      <td>38653600</td>
      <td>13.19</td>
      <td>POL</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>40</td>
      <td>Ukraine</td>
      <td>50456000</td>
      <td>7.93</td>
      <td>UKR</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>34</td>
      <td>Brazil</td>
      <td>170115000</td>
      <td>2.00</td>
      <td>BRA</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>31</td>
      <td>Italy</td>
      <td>57680000</td>
      <td>5.37</td>
      <td>ITA</td>
    </tr>
    <tr>
      <th>Israel</th>
      <td>28</td>
      <td>Israel</td>
      <td>6217000</td>
      <td>45.04</td>
      <td>ISR</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>27</td>
      <td>Belgium</td>
      <td>10239000</td>
      <td>26.37</td>
      <td>BEL</td>
    </tr>
    <tr>
      <th>Taiwan</th>
      <td>27</td>
      <td>Taiwan</td>
      <td>22256000</td>
      <td>12.13</td>
      <td>TWN</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>24</td>
      <td>Switzerland</td>
      <td>7160400</td>
      <td>33.52</td>
      <td>CHE</td>
    </tr>
    <tr>
      <th>Sweden</th>
      <td>20</td>
      <td>Sweden</td>
      <td>8861400</td>
      <td>22.57</td>
      <td>SWE</td>
    </tr>
    <tr>
      <th>Finland</th>
      <td>18</td>
      <td>Finland</td>
      <td>5171300</td>
      <td>34.81</td>
      <td>FIN</td>
    </tr>
    <tr>
      <th>Greece</th>
      <td>18</td>
      <td>Greece</td>
      <td>10545700</td>
      <td>17.07</td>
      <td>GRC</td>
    </tr>
    <tr>
      <th>Portugal</th>
      <td>15</td>
      <td>Portugal</td>
      <td>9997600</td>
      <td>15.00</td>
      <td>PRT</td>
    </tr>
    <tr>
      <th>Czech Republic</th>
      <td>14</td>
      <td>Czech Republic</td>
      <td>10278100</td>
      <td>13.62</td>
      <td>CZE</td>
    </tr>
    <tr>
      <th>Hungary</th>
      <td>13</td>
      <td>Hungary</td>
      <td>10043200</td>
      <td>12.94</td>
      <td>HUN</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>13</td>
      <td>South Africa</td>
      <td>40377000</td>
      <td>3.22</td>
      <td>ZAF</td>
    </tr>
    <tr>
      <th>Belarus</th>
      <td>12</td>
      <td>Belarus</td>
      <td>10236000</td>
      <td>11.72</td>
      <td>BLR</td>
    </tr>
    <tr>
      <th>South Korea</th>
      <td>11</td>
      <td>South Korea</td>
      <td>46844000</td>
      <td>2.35</td>
      <td>KOR</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>Thailand</th>
      <td>2</td>
      <td>Thailand</td>
      <td>61399000</td>
      <td>0.33</td>
      <td>THA</td>
    </tr>
    <tr>
      <th>Latvia</th>
      <td>2</td>
      <td>Latvia</td>
      <td>2424200</td>
      <td>8.25</td>
      <td>LVA</td>
    </tr>
    <tr>
      <th>Madagascar</th>
      <td>2</td>
      <td>Madagascar</td>
      <td>15942000</td>
      <td>1.25</td>
      <td>MDG</td>
    </tr>
    <tr>
      <th>Morocco</th>
      <td>2</td>
      <td>Morocco</td>
      <td>28351000</td>
      <td>0.71</td>
      <td>MAR</td>
    </tr>
    <tr>
      <th>Bulgaria</th>
      <td>2</td>
      <td>Bulgaria</td>
      <td>8190900</td>
      <td>2.44</td>
      <td>BGR</td>
    </tr>
    <tr>
      <th>Venezuela</th>
      <td>2</td>
      <td>Venezuela</td>
      <td>24170000</td>
      <td>0.83</td>
      <td>VEN</td>
    </tr>
    <tr>
      <th>United Arab Emirates</th>
      <td>2</td>
      <td>United Arab Emirates</td>
      <td>2441000</td>
      <td>8.19</td>
      <td>ARE</td>
    </tr>
    <tr>
      <th>Senegal</th>
      <td>1</td>
      <td>Senegal</td>
      <td>9481000</td>
      <td>1.05</td>
      <td>SEN</td>
    </tr>
    <tr>
      <th>Afghanistan</th>
      <td>1</td>
      <td>Afghanistan</td>
      <td>22720000</td>
      <td>0.44</td>
      <td>AFG</td>
    </tr>
    <tr>
      <th>Qatar</th>
      <td>1</td>
      <td>Qatar</td>
      <td>599000</td>
      <td>16.69</td>
      <td>QAT</td>
    </tr>
    <tr>
      <th>Lebanon</th>
      <td>1</td>
      <td>Lebanon</td>
      <td>3282000</td>
      <td>3.05</td>
      <td>LBN</td>
    </tr>
    <tr>
      <th>Algeria</th>
      <td>1</td>
      <td>Algeria</td>
      <td>31471000</td>
      <td>0.32</td>
      <td>DZA</td>
    </tr>
    <tr>
      <th>Bangladesh</th>
      <td>1</td>
      <td>Bangladesh</td>
      <td>129155000</td>
      <td>0.08</td>
      <td>BGD</td>
    </tr>
    <tr>
      <th>Barbados</th>
      <td>1</td>
      <td>Barbados</td>
      <td>270000</td>
      <td>37.04</td>
      <td>BRB</td>
    </tr>
    <tr>
      <th>Costa Rica</th>
      <td>1</td>
      <td>Costa Rica</td>
      <td>4023000</td>
      <td>2.49</td>
      <td>CRI</td>
    </tr>
    <tr>
      <th>Ecuador</th>
      <td>1</td>
      <td>Ecuador</td>
      <td>12646000</td>
      <td>0.79</td>
      <td>ECU</td>
    </tr>
    <tr>
      <th>El Salvador</th>
      <td>1</td>
      <td>El Salvador</td>
      <td>6276000</td>
      <td>1.59</td>
      <td>SLV</td>
    </tr>
    <tr>
      <th>Kenya</th>
      <td>1</td>
      <td>Kenya</td>
      <td>30080000</td>
      <td>0.33</td>
      <td>KEN</td>
    </tr>
    <tr>
      <th>Kyrgyzstan</th>
      <td>1</td>
      <td>Kyrgyzstan</td>
      <td>4699000</td>
      <td>2.13</td>
      <td>KGZ</td>
    </tr>
    <tr>
      <th>Albania</th>
      <td>1</td>
      <td>Albania</td>
      <td>3401200</td>
      <td>2.94</td>
      <td>ALB</td>
    </tr>
    <tr>
      <th>Panama</th>
      <td>1</td>
      <td>Panama</td>
      <td>2856000</td>
      <td>3.50</td>
      <td>PAN</td>
    </tr>
    <tr>
      <th>Macedonia</th>
      <td>1</td>
      <td>Macedonia</td>
      <td>2024000</td>
      <td>4.94</td>
      <td>MKD</td>
    </tr>
    <tr>
      <th>Mauritius</th>
      <td>1</td>
      <td>Mauritius</td>
      <td>1158000</td>
      <td>8.64</td>
      <td>MUS</td>
    </tr>
    <tr>
      <th>Moldova</th>
      <td>1</td>
      <td>Moldova</td>
      <td>4380000</td>
      <td>2.28</td>
      <td>MDA</td>
    </tr>
    <tr>
      <th>Mozambique</th>
      <td>1</td>
      <td>Mozambique</td>
      <td>19680000</td>
      <td>0.51</td>
      <td>MOZ</td>
    </tr>
    <tr>
      <th>Nepal</th>
      <td>1</td>
      <td>Nepal</td>
      <td>23930000</td>
      <td>0.42</td>
      <td>NPL</td>
    </tr>
    <tr>
      <th>Nigeria</th>
      <td>1</td>
      <td>Nigeria</td>
      <td>111506000</td>
      <td>0.09</td>
      <td>NGA</td>
    </tr>
    <tr>
      <th>North Korea</th>
      <td>1</td>
      <td>North Korea</td>
      <td>24039000</td>
      <td>0.42</td>
      <td>PRK</td>
    </tr>
    <tr>
      <th>Pakistan</th>
      <td>1</td>
      <td>Pakistan</td>
      <td>156483000</td>
      <td>0.06</td>
      <td>PAK</td>
    </tr>
    <tr>
      <th>Luxembourg</th>
      <td>1</td>
      <td>Luxembourg</td>
      <td>435700</td>
      <td>22.95</td>
      <td>LUX</td>
    </tr>
  </tbody>
</table>
<p>85 rows × 5 columns</p>
</div>

In [64]:
with open('data/kaggle/users_created.json', 'w') as f:
    f.write(countries_population[["country","iso_3","Total","per_capita"]].to_json(orient='records'))